.container {
  /* max-width: 1280px; */
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}




/* 
.container {
  max-width: 1440px; 
  padding: 0 12px; 

@media (min-width: 640px) {
  .container {
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 28px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 36px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 48px; 
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1600px; 
    padding: 0 60px;
  }
}  */
